@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    color: #2c3e50;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 60px;
}

h1, h2 {
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5em;
    padding: 0;
}

ul {
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
    text-decoration: none;
    &:hover {
        cursor: pointer;
        color: #2c3e50;
    }
}

fieldset {
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background: #FAFAFA;
    padding: 1rem 1rem 0.25rem;
    legend {
        font-variant: all-small-caps;
        font-weight: bold;
        color: #42b983;
    }
}

.has-text-centered {
    text-align: center;
}

.has-text-left {
    text-align: left;
}

.has-text-right {
    text-align: right;
}

@media (min-width: 567px) {
    .columns {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 -1rem;
        &.is-desktop {
            @media (max-width: 1023px) {
                display: block;
                .column {
                    width: 100%;
                }
            }
        }
    }

    .column {
        display: block;
        width: auto;
        padding: 0 1rem;
        @for $grid from 1 to 12 {
            &.is-#{$grid} {
                width: ($grid/12) * 100%;
            }
        }
    }
}

.form {
    max-width: 1200px;
    text-align: left;
}

.form-group {
    margin-bottom: 1rem;
    label {
        display: block;
        margin-bottom: 0.2rem;
        font-weight: bold;
        font-size: 0.8rem;
    }
}

@mixin form-control-style {
    padding: 0.25rem 0.5rem;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    outline: none;
    &:focus {
        box-shadow: 0 0 1rem -0.25rem #42b983;
    }
    &.inline-control {
        width: auto;
    }
}

.form-control {
    font-family: inherit;
    font-size: inherit;
    &[type='text'], &[type='email'], &[type='password'], &[type='tel'], &[type='number'] {
        @include form-control-style;
    }
    &[type='radio'], &[type='checkbox'] {
        outline-color: #42b983
    }
}

textarea.form-control, select.form-control {
    @include form-control-style;
}

.form-errors {
    color: #c8302b;
    margin: 0.5rem 0 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0;
    }
}

.button {
    padding: 0.25rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background: #eee;
    outline: none;
    &:hover {
        cursor: pointer;
        background: #ddd;
    }
    &:focus {
        border-color: #42b983;
    }
}



$vue-light: #41b993;
$vue-dark: #2c3e50;
$saturated-vue-light: lighten(saturate($vue-light, 50), 35);
$saturated-vue-dark: lighten(saturate($vue-dark, 25), 45);

@keyframes fadeIn {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.header {
    position: relative;
    &:before {
        content: ' ';
        display: block;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right bottom, $saturated-vue-light 0%, $saturated-vue-dark 100%);
        //opacity: 0;
        //animation: fadeIn 5s ease infinite;
    }
    color: #2c3e50;
    padding: 60px 1rem;
    text-align: center;
    font-size: 1.25rem;
    min-height: 100vh;
    a {
        color: saturate(darken($vue-light, 20), 50);
        &:hover {
            color: #FFF;
        }
    }
}

.header-centered {
    display: block;
    width: 100%;
    @media (min-width: 700px) and (min-height: 730px) {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
    }
}

.header-logo {
    margin-bottom: 4rem;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    height: calc(8vw + 6vh);
    max-height: 120px;
}

.header-title {
    color: $vue-dark;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    font-size: calc(16px + 4vw + 3vh);
    font-variant: all-small-caps;
    margin: 0;
    .lighter {
        color: saturate(darken($vue-light, 15), 40);
    }
}

.version {
    display: block;
    text-align: right;
    font-size: 1rem;
    font-variant: normal;
}

.slogan {
    color: darken($vue-dark, 25);
    font-size: 1.1em;
}

.features {
    color: darken($vue-dark, 10);
    text-align: left;
    width: 100%;
    max-width: 800px;
    margin: 4rem auto;
    font-size: 0.82em;
}

.features-title {
    font-weight: 500;
}

.feature-list {
    margin: 0;
    padding: 0;
    & > li {
        display: block;
        margin: 0.5rem 1rem;
        & > ul {
            display: block;
            margin: 0.25rem 0 0 0.5rem;
            padding: 0;
            & > li {
                display: block;
                margin: 0.1rem 1rem;
            }
        }
    }
}

.docs {
    width: 100%;
    font-size: 0;
}

.navigation-pane {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    height: 100vh;
    border-right: 1px solid #ccc;
    padding: 1rem;
    font-size: 1rem;
    @media (max-width: 768px) {
        display: none;
    }
}

.content-area {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 250px);
    padding: 2rem;
    font-size: 1rem;
    h1 {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #ccc;
    }
}

.doc-section {
    margin-bottom: 5rem;
}

.doc-example{
    margin-bottom: 3rem;
}

.nav-title {
    font-size: 1.25em;
}

.nav-list {
    li {
        display: block;
    }
}

.api-reports {
    position: fixed;
    top: 0;
    right: 1rem;
}

.api-status {
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background: #41b883;
    color: #FFF;
}

.api-error {
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background: #b83146;
    color: #FFF;
}