* {
    box-sizing: border-box;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    margin-bottom: 60px;
}

h1, h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 1rem 1rem 0.25rem;
}

.has-text-centered {
    text-align: center;
}

.has-text-left {
    text-align: left;
}

.has-text-right {
    text-align: right;
}

@media (min-width: 567px) {
    .columns {
        display: flex;
        justify-content: space-between;
        margin: 0 -1rem;
    }

    .column {
        display: block;
        padding: 0 1rem;
        @for $grid from 1 to 12 {
            &.is-#{$grid} {
                width: ($grid/12) * 100%;
            }
        }
    }
}

.form {
    display: inline-block;
    vertical-align: top;
    width: 75vw;
    max-width: 600px;
    text-align: left;
}

.form-group {
    margin-bottom: 1rem;
    label {
        display: block;
        margin-bottom: 0.2rem;
        font-weight: bold;
        font-size: 0.8rem;
    }
}

@mixin form-control-style {
    padding: 0.25rem 0.5rem;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    outline: none;
    &:focus {
        box-shadow: 0 0 1.25rem -0.5rem #000;
    }
}

.form-control {
    font-family: inherit;
    font-size: inherit;
    &[type='text'], &[type='email'], &[type='password'], &[type='tel'] {
        @include form-control-style;
    }
}

textarea.form-control, select.form-control {
    @include form-control-style;
}

.form-errors {
    color: #c8302b;
    margin: 0.5rem 0 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0;
    }
}

.button {
    padding: 0.25rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background: #eee;
}