@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    color: #2c3e50;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 60px;
}

h1, h2 {
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5em;
    padding: 0;
}

ul {
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
    text-decoration: none;
    &:hover {
        cursor: pointer;
        color: #2c3e50;
    }
}

fieldset {
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background: #FAFAFA;
    padding: 1rem 1rem 0.25rem;
    legend {
        font-variant: all-small-caps;
        font-weight: bold;
        color: #42b983;
    }
}

.has-text-centered {
    text-align: center;
}

.has-text-left {
    text-align: left;
}

.has-text-right {
    text-align: right;
}

@media (min-width: 567px) {
    .columns {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 -1rem;
        &.is-desktop {
            @media (max-width: 1023px) {
                display: block;
                .column {
                    width: 100%;
                }
            }
        }
    }

    .column {
        display: block;
        width: auto;
        padding: 0 1rem;
        @for $grid from 1 to 12 {
            &.is-#{$grid} {
                width: ($grid/12) * 100%;
            }
        }
    }
}

.form {
    max-width: 1200px;
    text-align: left;
}

.form-group {
    margin-bottom: 1rem;
    label {
        display: block;
        margin-bottom: 0.2rem;
        font-weight: bold;
        font-size: 0.8rem;
    }
}

@mixin form-control-style {
    padding: 0.25rem 0.5rem;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    outline: none;
    &:focus {
        box-shadow: 0 0 1rem -0.25rem #42b983;
    }
    &.inline-control {
        width: auto;
    }
}

.form-control {
    font-family: inherit;
    font-size: inherit;
    &[type='text'], &[type='email'], &[type='password'], &[type='tel'], &[type='number'] {
        @include form-control-style;
    }
    &[type='radio'], &[type='checkbox'] {
        outline-color: #42b983
    }
}

textarea.form-control, select.form-control {
    @include form-control-style;
}

.form-errors {
    color: #c8302b;
    margin: 0.5rem 0 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0;
    }
}

.button {
    padding: 0.25rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background: #eee;
    outline: none;
    &:hover {
        cursor: pointer;
        background: #ddd;
    }
    &:focus {
        border-color: #42b983;
    }
}