<div class="form-group">
    <label v-if="label" :for="id" v-html="label"></label>

    <textarea v-if="type === 'textarea'"
              ref="input"
              :id="id"
              :name="name"
              v-model="value"
              :placeholder="placeholder"
              :required="required"
              @input="handleInput"
              @keydown="handleKeyDown"
              @blur="handleBlur"
              @focus="handleFocus"
              class="form-control"></textarea>

    <input v-if="type !== 'textarea'"
           ref="input"
           :id="id"
           :name="name"
           :type="type"
           :value="value"
           :placeholder="placeholder"
           :required="required"
           :disabled="disabled"
           @input="handleInput"
           @keydown="handleKeyDown"
           @blur="handleBlur"
           @focus="handleFocus"
           class="form-control">
    <ul class="form-errors" v-if="fieldErrors">
        <li v-for="(error, index) in fieldErrors" :key="index">{{ error }}</li>
    </ul>
</div>