/* Base16 Atelier Cave Light - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/cave) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Cave Comment */
.hljs-comment,
.hljs-quote {
    color: #655f6d;
}

/* Atelier-Cave Red */
.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
    color: #be4678;
}

/* Atelier-Cave Orange */
.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
    color: #dd4a68;
}

/* Atelier-Cave Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet {
    color: #690;
}

/* Atelier-Cave Blue */
.hljs-title,
.hljs-section {
    color: #576ddb;
}

/* Atelier-Cave Purple */
.hljs-keyword,
.hljs-selector-tag {
    color: #07a;
}

.hljs-deletion,
.hljs-addition {
    color: #19171c;
    display: inline-block;
    width: 100%;
}

.hljs-deletion {
    background-color: #be4678;
}

.hljs-addition {
    background-color: #2a9292;
}

.hljs {
    position: relative;
    display: block;
    padding: 2.5rem 1rem 1rem;
    max-height: 50vh;
    overflow: auto;
    background: $code-bg-color;
    color: $code-font-color;
    font-family: $code-font-family;
    line-height: 1.5rem;
    &.no-lang {
        padding: 1rem;
    }
    &:not(.no-lang) {
        &:before {
            content: ' ';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: 0.25rem 0.5rem;
            border-bottom: 1px solid #eee;
            color: #999;
            font-family: $font-family;
            font-size: 0.75rem;
        }
        &.javascript:before {
            content: 'Javascript'
        }
        &.html:before {
            content: 'HTML'
        }
        &.shell:before {
            content: 'Shell'
        }
    }
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

kbd {
    font-family: $code-font-family;
    background-color: $code-bg-color;
    color: $vue-light;
    font-size: 1.05em;
    padding: 0.25rem 0.4rem;
    border-radius: 0.25rem;
}
