.example-tabs {
    font-size: 0;
    border-bottom: 1px solid lighten($vue-dark, 10);
    li {
        margin: 0 0 -1px;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: 1px solid transparent;
        user-select: none;
        color: lighten($vue-dark, 30);
        &:hover {
            cursor: pointer;
            background-color: lighten($vue-dark, 10);
            border-bottom-color: darken($vue-dark, 10);
            color: $vue-light;
        }
        &.active-tab {
            background-color: lighten($vue-dark, 5);
            border-color: $background-color;
            border-bottom-color: $vue-light;
            color: #fff;
        }
    }
}

.example-display {
    padding: 1rem;
    color: darken($font-color, 20);
    .code {
        margin: -1rem;
    }
}